* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }

header {
    background-color: #262F25;
    height: 100px; 
}

main {
    background-color: #303E2E;
    height: 800px; 
 
}

footer {
    background-color: #262F25;
    height: 100px; 
}