body{
    margin: 0px;
}

.nav-container {
    position: sticky;
    z-index: 3;
    top: 0;

}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 12vh;
    background-color: black;

}

.navbar-logo{
    justify-self: start;
    margin-left: 20px;
    color: white;
    margin-top: 4vh;
    cursor: pointer;
}

.ver-carrito{
    font-size: 25;
    margin-right: 20px;
    margin-top: 3.5vh;
    cursor: pointer;
    color: white;
}

.banner{
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-image: url('https://media.istockphoto.com/id/1373129580/es/foto/pizza-de-chorizo.jpg?s=1024x1024&w=is&k=20&c=6zEbFfMwN294JT-SbeZs5GpeX439PImasTKzoX4y8jk=');
    
}

.banner-container{
    text-align: center;
    padding: 15% 0;
}

.banner h1{
    margin: 0;
    color: white;
    font-size: 62px;
    font-weight: bold;
}

.banner p{
    font-size: 30px;
    color: black;

}

.pizzas-content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
}

.card{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: Arial;
}

.card img{
    width: 90%;
    height: 250px;
}

.price{
    color: black;
    font-size: 22px;   
}

.card button{
    border: none;
    outline: 0;
    padding: 12px;
    color:white;
    background-color: black;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover{
    opacity: 0.7;
}

.cartaCont {
    width: 80%;
    margin: 0 10%;
    max-height: 88vh;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 12vh;
    scrollbar-color: none;
}

.cartaCont::-webkit-scrollbar{
    display: none;
}

.carta{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    width: 100%;
}

.carta-title {
    justify-self: start;
}

.carta-boton {
    cursor: pointer;

}

.cartaCont > .carrito-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
}

.cartaCont div img {
    height: 120px;
    width: 120px;
}


.total-content{
    font-size: 25px;
    padding: 20px;
    text-align: center;
    padding-top: 20px;
}